@import"./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Poppins:wght@400;500;700&display=swap');

/*poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  .dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


*/
:root{
  --black: #171718;
  --black-border: #26292d;
  --white:#fff;
  --purple: #5c62ec;


  --text-color:var(--black);
  --dark-bg:var(--black);
  --dark-border:var(--black-border);
  --header-text:var(--white);
  --accent:var(--purple);
}

html,body{

    font-family: "DM Sans", sans-serif; /*font ראשי*/
    letter-spacing: -0.5px;
    color: var(--text-color);

}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

/*nav*/

.nav {
    padding: 20px 0 ;
    border-bottom: 1px solid var(--dark-border) ;
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;

}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px ;
    flex-wrap: wrap;


}



.logo {
    color: var(--header-text);
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.logo strong {
    font-weight: 700;
}



.nav-list{
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;

}



.nav-list__link {
  color: var(--header-text);
  transition: opacity 0.2s ease-in;

}

.nav-list__link:hover{

  opacity: 0.8;
 
  
 
}



/* קו תחתון */
.nav-list__link--active { 
  position: relative;

}





.nav-list__link--active::before { 

  content: "";

  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent); 


}

/*header*/

.header{

  padding: 40px 0 ;
  min-height: 695px;
 
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  color: var(--header-text);

  background-color: var(--dark-bg);
  background-image: url('./../img/img_bg/bg_1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;


}

.header_wrapper {

  padding: 0 15px ;
  max-width: 660px;
}

.header__title  {

  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;

}

.header__title strong {

  font-size: 60px;
  font-weight: 700;
}

.header__title em {

  font-style: normal;
  color: var(--accent);
}

.header_text {

font-size: 18px;
line-height: 1.333;
margin-bottom: 40px;

}

/* אם יהיה יותר מ1 P*/

.header_text p + p {

  margin-top: 0.5em;

}

/* button */

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--accent);
  letter-spacing:0.15px ;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease-in;


}

.btn:hover {

  opacity: 0.8;
  scale: 1.1;
  
}

.btn:active {

  position: relative;
  top: 1px;
}

/* projects */

.section {

 padding: 70px  ;
 

}

.title-1 {
  margin-bottom: 60px ;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.projects {
  
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  
}

.project {

  max-width: 370px;
  background-color: var(--white);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  

}

.project img {
  border-radius: 10 px;
  
}

.project__title {
  padding: 15px 20px 25px;
  font-size: 24px;
  line-height: 1.3;
  color: var(--text-color);
}

/* footer */

.footer {
  padding: 60px 0 50px;
  background-color: var(--dark-bg);
  color:var(--white);

}

.footer__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.social__item{
  width: 30px;
}

.copyright{
  font-size: 16px;
}

